@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

:root{
    --boxShadow: box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
    --transition: 0.4s ease-in-out;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
    cursor: pointer;

}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icons{
    font-size: 1.3rem;
    cursor: pointer;
}
.none{
    display: none;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
a{
    color: white;
}
p{
    line-height: 22px;
    font-size: 13px;
    
}
